@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Lato', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


/*--------------------*/


$mw:100%;
$md1:1150;
$md2:992.98;
$md3:767.98;
$md4:590.98;

.container {
  width: 100%;
  position: fixed;
  top:0;
  bottom: 0;
}

.top {
  width: 100%;
}

//NAV------start-----------------------------------------
.top-nav {
  width: 100%;
  height: 38px;
  background-color: rgb(103, 21, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
    margin: 0px;
    & .top-nav__icon{
      margin: 0;
      padding: 9px;

      @media (max-width: $md3 + px) { 
        display: none;
      }
      @media (max-width: $md4 + px) { 
        display: block;
      }
    }
}
.top-nav__icon {
  margin: 0 10px 0 10px;
  display: inline-block;
  padding: 4px;
  & img { 
    height: 20px;
    width: 20px;
  }
  &:hover{
    transition: all 0.5s;
    background-color: rgb(126, 56,238);
  }

}

.nav-center {
  display: flex;
  align-items: center;
  width: 600px;

  @media (max-width: $md2 + px) { 
    width: 500px;
  }

  @media (max-width: $md3 + px) { 
    width: 400px;
    & .top-nav__icon:nth-child(1), & .top-nav__icon:nth-child(2) { 
      display: none;
    }
  }

  @media (max-width: $md4 + px) { 
    width: 60%;
  }

}
.top-nav__search {
  position: relative;
  height: 20px;
  width: 400px;
  margin: 0 0 0 40px;
  border: 1px solid rgb(140,140,140);
  border-radius: 3px;
  background-color: #7e38ee;

  &:hover{
      cursor: text;
      transition: all 0.3s;
      border: 1px solid rgb(200,200,200);
  }

  & .search-icon { 
    width: 100%;
  }
  & .search-icon::before { 
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background:url(../img/icons/search.png) no-repeat  center;
    background-size: 15px 15px;
    position: absolute;
    top:50%;
    right: 0;
    transform: translate(0,-50%);
  } 

  & input {
    height: 100%;
    width: calc(100% - 15px);
    padding: 0 5px;
    color: rgb(214, 214, 214);
    background-color: inherit;

    &::placeholder{
      color: rgb(214, 214, 214);
    }
    
    &:hover{
      &::placeholder{
        color: rgb(240,240,240);
        transition: all 0.3s;
      }
    }

  }
}

.nav-right {

  & .top-nav__icon { 
    padding: 9px;
    margin: 0px;
    &:first-child{
      margin: 0 35px;
      padding: 4px;
    }
  }

  @media (max-width: $md3 + px) { 
    & .top-nav__icon:nth-child(2), & .top-nav__icon:nth-child(3), & .top-nav__icon:nth-child(4) { 
      display: none;
    }
  }
}


.bottom-nav {
  height: 65px;
  display: flex;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.bottom-left {
  flex-basis: 24%;
  border-right: 1px solid rgb(223, 223, 223);
  background-color: rgb(245, 245,245);
  position: relative;
  &:hover{
    cursor: pointer;
    transition: all 0.3s;
    background-color:rgb(232, 232, 232);
  }

  @media (max-width: $md1 + px) {
    flex: 0 0 225px;
  }
  @media (max-width: $md4 + px) { 
    display: none;
  }
}
.bottom-nav__account {
  font-size: 16px;
  padding: 14px 0px 0px 20px;
  & h1{
    margin: 0px 0px 5px 0px;
    &::after{
      content: '';
      border: solid black;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      margin: 0px 0px 2px 5px;
    }
  }

  & p{
    color:rgb(103,103,103);
  &::before{
    content: '';
    display: inline-block;
    background: url(../img/icons/night.png) 100%;
    background-size: 100%;
    width: 15px;
    height: 15px;
    margin: 0px 2px 0px 0px;
  }
  &::after{
    content: '';
    display: block;
    background: black url(../img/icons/edit.png) no-repeat  center;
    background-size: 17px 17px;
    width: 38px;
    height: 38px;
    margin: 0px 2px 0px 0px;
    border: solid black;
    border-radius: 50%;
    position: absolute;
    top:14px;
    right: 10px;
  }
 }
}


.bottom-right {
  flex-basis: 100%;
  position: relative;
  @media (max-width: $md1 + px) {
    width: 100%;
  }
}
.bottom-nav__about {
  font-size: 16px;
  padding: 14px 0px 0px 20px;
  & h2 {
    margin: 0px 0px 5px 0px;
    position: relative;
    &::after{
    content: '';
    display: block;
    background: url(../img/icons/star.png) no-repeat center;
    background-size:100%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translate(0,-50%);
    margin: 0px 0px 0px 50px;
    }
  }
  & p { 
    display: inline-block;
  }

  & .bottom-nav__people { 
    border-right: 1px solid rgb(223, 223, 223);
    padding: 0px 5px 0px 0px;
      &::before { 
        content: '';
        display: inline-block;
        background: url(../img/icons/user.png) no-repeat center;
        background-size:100%;
        width: 13px;
        height: 13px;
        position: relative;
        margin: 0px 3px 0px 0px;;
      }
  }

  & .bottom-nav__pinned { 
    border-right: 1px solid rgb(223, 223, 223);
    padding: 0px 5px 0px 5px;
    &::before { 
      content: '';
      display: inline-block;
      background: url(../img/icons/pushpin.png) no-repeat center;
      background-size:100%;
      width: 13px;
      height: 13px;
      position: relative;
      margin: 0px 3px 0px 0px;
    }
  }

  & .bottom-nav__add, .bottom-nav__people, .bottom-nav__pinned { 
    color: rgb(103, 103,103);
  }

  & .bottom-nav__about { 
    display: inline-block;
    position: absolute;
    top:17px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    &:hover { 
      transition: all 0.3s;
      background-color: rgb(232, 232, 232);
    }
  }

  & .bottom-nav__about::before{
    content: '';
    display: block;
    background: url(../img/icons/info.png) no-repeat center;
    background-size:100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
}

}

//NAV-------end----------------------

//MAin content-------------------------
.main {
  height: 100%;
  display: flex;
}

//left side start--------------


.main-column-left { 
  display: block;
  height: 100%;
  font-size: 18px;
  width: 24%;
  background-color: rgb(245, 245,245);
  border-right: 1px solid rgb(223, 223, 223);

  & p {
    padding: 0 16px;
  }

  @media (max-width: $md1 + px) {
    flex: 0 0 225px;
  }
  @media (max-width: $md4 + px) { 
    display: none;
  }

  @media (max-height: 703px) {
    overflow: scroll;
    margin: 0px 0px 100px 0px;
  }
  
}

.column-first {
  height: 250px;
  padding: 15px 0;
  border-bottom: 1px solid rgb(223, 223, 223);
  color: rgb(103, 103, 103);

  & div { 
    position: relative;
    padding: 5px 0px 5px 20px;

    &::before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translate(0, -50%);
    }

    &:hover{
      transition: all 0.3s;
      background-color:rgb(232, 232, 232);
      cursor: pointer;
    }
  }

  & .main-column-left__threads {
    &::before{
      background: url(../img/icons/menu/chat.png) no-repeat center;
      background-size:100%;
    }
  }

  & .main-column-left__mentions{
    &::before{
      background: url(../img/icons/menu/arroba.png) no-repeat center;
      background-size:100%;
    }
  }

  & .main-column-left__drafts{
    &::before{
      background: url(../img/icons/menu/white-sheets.png) no-repeat center;
      background-size:100%;
    }
  }

  & .main-column-left__saved {
    &::before{
      background: url(../img/icons/menu/bookmark.png) no-repeat center;
      background-size:100%;
    }
  }

  & .main-column-left__people{
    &::before{
      background: url(../img/icons/menu/contact-book.png) no-repeat center;
      background-size:100%;
    }
  }

  & .main-column-left__apps {
    &::before{
      background: url(../img/icons/menu/apps.png) no-repeat center;
      background-size:100%;
    }
  }

  & .main-column-left__files {
    &::before{
      background: url(../img/icons/menu/blank.png) no-repeat center;
      background-size:100%;
    }
  }

  & .main-column-left__less {
    &::before{
      background: url(../img/icons/menu/up-arrow.png) no-repeat center;
      background-size:100%;
    }
  }
}


.column-second {
  height: 500px;
}
.second-upper {
  padding: 14px;
  padding: 15px 0;
  color: rgb(103, 103, 103);

  & .column-secod__channels { 
      position: relative;
      padding: 5px 20px 10px 20px;
      &::before{
        content: '';
        display: block;
        background: url(../img/icons/menu/sort-down.png) no-repeat center;
        background-size:100%;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translate(0, -50%);
      }

      & .column-second__plus { 
        width: 28px;
        height: 28px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        right: 20px;
        border-radius: 5px;
        &::after { 
          content: '';
          display: block;
          background: url(../img/icons/menu/plus.png) no-repeat center;
          background-size:100%;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
      }

      &:hover{background-color:rgb(232, 232, 232);}
    }

      &:hover{
        cursor: pointer;
    }
  }

  & .column-secod__general, .column-secod__quest, .column-secod__rand, .column-secod__task1 {
      position: relative;
      padding: 5px 20px 5px 25px;
      &::before{
        content: '#';
        display: flex;
        align-items: center;
        position: absolute;
        left: 22px;  
      }
  
      &:hover{
        background-color:rgb(232, 232, 232);
        transition: all 0.3s;
        cursor: pointer; 
    }
  }

  & .column-secod__quest, .column-secod__rand, .column-secod__task1{
    & p {
      color:black;
    }
  }
  
  & .column-secod__task2, .column-secod__add { 
    position: relative;
    padding: 5px 20px 5px 25px;
    &::before{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      left: 22px;
      transform: translate(0, -50%);
    }

    &:hover{
      cursor: pointer;
    }
  }

  & .column-secod__task2 {
    
    background-color: rgb(103, 21, 235);
    color:white;
    &::before{
      background: url(../img/icons/menu/lock.png) no-repeat center;
      background-size:100%;
    }
  }
  & .column-secod__add {
    &::before{
      background: url(../img/icons/menu/plus.png) no-repeat center;
      background-size:100%;
    }

    &:hover{
      background-color:rgb(232, 232, 232);
      transition: all 0.3s;
    }
  }
}


.second-bottom {
  color: rgb(103, 103, 103);

  & .column-second__messages {
    position: relative;
  padding: 5px 20px 10px 20px;
  &::before{
    content: '';
    display: block;
    background: url(../img/icons/menu/sort-down.png) no-repeat center;
    background-size:100%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translate(0, -50%);
  }

  & .column-second__plus { 
    width: 28px;
    height: 28px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 20px;
    border-radius: 5px;
    &::after { 
      content: '';
      display: block;
      background: url(../img/icons/menu/plus.png) no-repeat center;
      background-size:100%;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &:hover{
      background-color:rgb(232, 232, 232);
    }

  }
  &:hover{
  cursor: pointer;
  }
  }

  & .column-second__slack, .column-second__login, .column-second__invite {
    position: relative;
    padding: 5px 0px 5px 25px;
    &::before{
      content: '';
      display: block;
      background: url(../img/icons/menu/heart.png) no-repeat center;
      background-size:100%;
      background-size:100%;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 22px;
      transform: translate(0, -50%);
    }

    &:hover{
      transition: all 0.3s;
      background-color:rgb(232, 232, 232);
      cursor: pointer;
    }
  }

  & .column-second__login {
    &::before{
      background: url(../img/icons/night.png) no-repeat center;
      background-size:100%;
    }
  }

  & .column-second__invite {
    &::before{
      background: url(../img/icons/menu/plus.png) no-repeat center;
      background-size:100%;
      width: 10px;
      height: 10px;
    }

  }

}

// ----------LEft side end----------


//--------right side start ------------
.main-column-right {
  flex-basis: 100%;
  height: calc(100% - 102px);
  padding: 5px 0;
  position: relative;

   & img { 
     border-radius: 3px;
   }
   
   @media (max-height: 1020px )  and (max-width: $md3 + px) {
    overflow: auto;
  }

  @media (max-height: 870px ){
    overflow: auto;
  }
  @media (max-width: 727px) {
    overflow: auto;
  }
}



.main-column-right__date {
  width: 170px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid rgb(223, 223, 223);
  border-radius: 20px;
  padding: 5px 12px 5px 12px;
  color: rgb(103, 103, 103); 
  background-color: white;
  z-index: 1;

  &::after{
    content: '';
    border: solid rgb(103, 103, 103); 
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0px 0px 4px 5px;
  }

  @media (max-width: $md4 + px) {
    position:fixed;
    left:50%;
    transform: translate(-50%,0);
  }

}


.message-alex1, .message-karina, .message-alex2  {
  display: inline-block;
  padding: 5px 20px 5px 20px;
  width: 100%;
  img:first-child{ 
    width: 35px;
    height: 35px;
  }
  &:hover{
    background-color:rgb(232, 232, 232);
  }

  @media (max-width: $md3 + px) {
    font-size: 18px;
  }
}


.message-info { 
  display: inline-block;
  width: 90%;

  & img { 
    height: 290px;
  }
  
}
.main-column-right__name, .main-column-right__oclock  {
  display: inline-block;
}

.main-column-right__oclock { 
  color: rgb(103,103,103);
  font-size: 12px;
}

.main-column-right__message {
  position: relative;
  top: -13px;
  left: 40px;
}


.message-comment1, .message-comment2 {
  display: flex;
  align-items: center;
  height: 30px;
  width: 600px;
  position: relative;
  top:-5px;
  left: 40px;

  @media (max-width: $md1 + px) {
    width: 70%;
  }
  @media (max-width: $md3 + px) {
    width: 80%;
  }

  & img { 
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 0px;
  }

  & img:first-child{ 
    width: 25px;
    height: 25px;
    margin: 0px 5px 0px 5px;
  }

  &::after{
    color: rgb(103, 103, 103);    
  }

  &:hover{
    background-color: white;
    border-radius: 5px;
      &::after { 
        content: 'View thread';
      }

    &::before {
      content: ''; 
      position: absolute; 
      right: 10px;
      border: solid rgb(103, 103, 103);    
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin: 0px 0px 2px 5px;
     }
  }
  
}

.message-comment1 { 
  &::after { 
    content: 'Last reply 4 days ago';
  }
}

.message-comment2 { 
  &::after { 
    content: '5 days ago';
  }
}

@media (max-width: $md3 + px) {
  .message-comment1, .message-comment2 { 
    &::after { 
     content: ''; 
    }
  }
}


.message-info__replies {
  margin: 0px 5px 0px 0px;
  color:rgb(18, 100, 163);
}


.user-message {
  position: relative;
  border:1px solid  black;
  border-radius: 5px;
  height: 100px;
  margin: 14px 20px;
  
  @media (max-width: $md3 + px) {
    height: 122px;
  }

  @media (max-width: $md4 + px) {
    height: 145px;
  }
}
.user-message__panel {
  height: 50%;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 10px;
  @media (max-width: $md3 + px) {
    height: 50px;
  }
}

.user-message__icons {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgb(248,248,248);
  border-top: 1px solid rgb(223, 223, 223);

  & span {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover{
      transition: all 0.4s;
      background-color:rgb(232, 232, 232);
      cursor: pointer;
    }
    &::before{
      content: '';
      display: block;
      width: 20px;
      height: 20px;
    }

    @media (max-width: $md2 + px) {
      width: 30px;
    }

  }

  @media (max-width: $md2 + px) {
    display: inline-flex;
  }

  @media (max-width: $md3 + px) {
    height: 70px;
    display: block;
  }
  @media (max-width: $md4 + px) {
    height: 90px;
    display: flex;
  }
}

.icons-left {
  & span:first-child { 
    position: relative;
    &:hover{
      background-color: rgb(18,100,163);
    }
  }
  & span:first-child::after{ 
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 26px;
    border-right: 1px solid rgba(103, 103, 103, 0.5);    
  }
  & span:first-child::before{ 
    background: url(../img/icons/text/lighting.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(2)::before { 
    background: url(../img/icons/text/bold.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(3)::before { 
    background: url(../img/icons/text/italic.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(4)::before { 
    background: url(../img/icons/text/striketrought.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(5)::before { 
    background: url(../img/icons/text/coding.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(6)::before { 
    background: url(../img/icons/text/link.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(7)::before { 
    background: url(../img/icons/text/orderlist.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(8)::before { 
    background: url(../img/icons/text/list.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(9)::before { 
    background: url(../img/icons/text/blockquote.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(10)::before { 
    background: url(../img/icons/text/web-programming.png) no-repeat center;
    background-size:60%;
  }
}

.icons-right {
  & span:first-child::before{ 
    background: url(../img/icons/text/decrease-font-size.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(2)::before { 
    background: url(../img/icons/menu/arroba.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(3)::before { 
    background: url(../img/icons/text/smile.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(4)::before { 
    background: url(../img/icons/text/paperclip.png) no-repeat center;
    background-size:60%;
  }
  & span:nth-child(5)::before { 
    background: url(../img/icons/text/right-arrow.png) no-repeat center;
    background-size:60%;
  }
}